@forward '../../theme/variables';

.red-property {
  color: var(--red);
}

.green-property {
  color: var(--green);
}

.yellow-property {
  color: var(--yellow);
}

.singleFamily-icon {
  color: var(--singleFamily);
}

.multiFamily-icon {
  color: var(--multiFamily);
  background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.1) 50%);
  background-size: 10px 10px;
}

.duplex-icon {
  color: var(--duplex);
}

.condominium-icon {
  color: var(--condominium);
}

.mixedUse-icon {
  color: var(--mixedUse);
  background-image: linear-gradient(-45deg, transparent 50%, rgba(0,0,0,0.1) 50%);
  background-size: 10px 10px;
}

.quadplex-icon {
  color: var(--quadplex);
}

.commercial-icon {
  color: var(--commercial);
}

.sfrPortfolio-icon {
  color: var(--sfrPortfolio);
  background-image: linear-gradient(90deg, transparent 50%, rgba(0,0,0,0.1) 50%);
  background-size: 10px 10px;
}

.mfrPortfolio-icon {
  color: var(--mfrPortfolio);
  background-image: linear-gradient(0deg, transparent 50%, rgba(0,0,0,0.1) 50%);
  background-size: 10px 10px;
}

.loan-icon {
  color: var(--loan);
}

.stack-icon {
  color: var(--stack);
}