@use '../../theme/variables.scss' as *;

.map {
  height: 100vh;
  width: 100vw;
  color: black;
  
  .leaflet-pane {
    z-index: 1;
  }

  .leaflet-top,
  .leaflet-bottom {
    z-index: 2;
  }

  .leaflet-tile-pane {
    z-index: 3;
  }

  .leaflet-overlay-pane {
    z-index: 4;
  }

  .leaflet-shadow-pane {
    z-index: 5;
  }

  .leaflet-marker-pane {
    z-index: 6;
  }

  .leaflet-tooltip-pane {
    z-index: 7;
  }

  .leaflet-popup-pane {
    z-index: 8;
  }
}

.leaflet-popup {
  background-color: white;
  padding: 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

  .leaflet-popup-content-wrapper {
    padding: 0 0 1px 0;
    border-radius: 0;
  }

  .leaflet-popup-content {
    padding: 0;
    border-radius: 0;
    min-width: 300px;
    margin: 0;
    padding: 0;
  }

  .leaflet-popup-close-button {
    display: none;
  }
}

.leaflet-marker-icon {
  background: none;
  border: none;
}

img.selected {
  filter: drop-shadow(0 6px 6px #000);
}
