.map {
  height: 100vh;
  width: 100vw;
  color: black;
}

.map .leaflet-pane {
  z-index: 1;
}

.map .leaflet-top,
.map .leaflet-bottom {
  z-index: 2;
}

.map .leaflet-tile-pane {
  z-index: 3;
}

.map .leaflet-overlay-pane {
  z-index: 4;
}

.map .leaflet-shadow-pane {
  z-index: 5;
}

.map .leaflet-marker-pane {
  z-index: 6;
}

.map .leaflet-tooltip-pane {
  z-index: 7;
}

.map .leaflet-popup-pane {
  z-index: 8;
}

.leaflet-popup {
  background-color: white;
  padding: 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.leaflet-popup .leaflet-popup-content-wrapper {
  padding: 0 0 1px 0;
  border-radius: 0;
}

.leaflet-popup .leaflet-popup-content {
  min-width: 300px;
  margin: 0;
  padding: 0;
}

.leaflet-marker-icon {
  background: none;
  border: none;
}

.red-icon {
  fill: red;
}

.green-icon {
  fill: green;
}

.orange-icon {
  fill: orange;
}

.owned {
  stroke-width: 4;
}

.selected {
  stroke: #f59e0b;
  stroke-width: 4;
}