$red: #f44336;
$green: #43a047;
$yellow: #fdd835;

$singleFamily: #1e88e5;
$multiFamily: #43a047;
$duplex: #ff9800;
$condominium: #9c27b0;
$mixedUse: #e91e63;
$quadplex: #fdd835;
$commercial: #f44336;
$sfrPortfolio: #795548;
$mfrPortfolio: #009688;
$loan: #673ab7;
$stack: #757575;